<html>
   <head>
   	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
   	<a href="/Login">Login/Register</a>
   </head>

   <body id="loginText">
      <h1> Login will be developed later, for new/existing users </h1>
      <p>For now this is the link to the update form</p>
      <p>This is a WIP webpage to keep track of unemployment</p>

      <a href="/updateform">Update Form</a>
   </body>
      
   <style type="text/css">
      h1{font-family: 'Roboto', sans-serif;}
      p{font-family: 'Roboto', sans-serif;}
      a{font-family: 'Roboto', sans-serif;
            padding: 10px;
      }
      }
      #loginText{
         display: block;
         justify-content: space-around;
      }
   </style>
</html>