<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
	<a href="/">Home</a>
</head>
<body>
<h1>Stack Information</h1>
<p>This web app uses Heroku for python and javascript processing; Flask for routing, page navigation, and RESTful API;</p>
<p>PostgreSQL for data storage (using python for reading and writing); and D3.js for data visualization.</p>
<br>
<p>Also, check out my <a href="https://www.linkedin.com/in/aflz1/">LinkedIn!</a></p>
</body>
<style>
	html{
         font-family: 'Roboto', sans-serif;
      }
</style>
<html>